---
version: "2"
services:
  php7:
    restart: never
    build:
      context: ./
      dockerfile: Dockerfile-7
    image: gizmonicus/beanstalk-php:7
    volumes:
      - ./html:/var/www/html
    environment:
      - DEBUG=1
    ports:
      - "80:80"
