---
version: "2"
services:
  php7:
    restart: never
    build:
      context: ./
      dockerfile: Dockerfile-7
    image: gizmonicus/beanstalk-php:7
    volumes:
      - "./html:/var/www/html"
    environment:
      DEBUG: 1
      # This has to match the service name below for the host name to work
      # in a container.
      SQL_DB_HOST: mysql57
      SQL_DB_PASSWD: password
      SQL_DB_USER: user
    ports:
      - "80:80"
    depends_on:
      - mysql57

  mysql57:
    restart: never
    image: mysql:5.7
    volumes:
      - "./mysql:/docker-entrypoint-initdb.d"
    environment:
      # These env vars take effect when first creating the container,
      # modify them as you see fit to match the database name you are 
      # working with.
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: database
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
