---
version: "2"
services:
  php:
    restart: never
    build:
      context: ./
      dockerfile: Dockerfile-5
    image: gizmonicus/beanstalk-php:5
    volumes:
      - ./html:/var/www/html
    environment:
      - DEBUG=1
    network_mode: host
